@import "tailwindcss";

@theme {
  --font-super-carnival: "SuperCarnival", sans-serif; 
  --animate-bounce-finite: bounce-finite 2s ease-out 1 forwards;

  @keyframes bounce-finite {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(0); }
    35%  { transform: translateY(0); }
    50%  { transform: translateY(-10%); }
    60%  { transform: translateY(0); }
    70%  { transform: translateY(-3%); }
    75%  { transform: translateY(0); }
    85%  { transform: translateY(-1%); }
    90%  { transform: translateY(0); }
    100% { transform: translateY(0); }
  }
}

@font-face {
  font-family: 'SuperCarnival';
  src: url('/public/fonts/super-carnival-font/SuperCarnival.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
